<h2>Modalidades de Transporte</h2>

<% if @transportation_modals.any? %>
        <%= render partial: "transportation_modal", collection: @transportation_modals%>
<% end %>

<% if current_user.admin? %>
    <%= link_to 'Cadastrar', new_transportation_modal_path, class:"btn btn-secondary m-2"%>
<% end %>