<h2> <%=@transportation_modal.name%> </h2>

<%= render @transportation_modal%>

<% if current_user.admin? %>
    <div class="d-grid gap-2 d-md-block">
    <%= link_to 'Editar', edit_transportation_modal_path(@transportation_modal), class:"btn btn-primary btn-sm"%>
    <%= button_to 'Desativar', inactived_transportation_modal_path(@transportation_modal.id), class:"btn btn-primary btn-sm"%>
    </div>
<% end %>