<h2 class="mb-4">Editar Configuração de Preço</h2>

<% if @cost.errors.any? %>
    <p> Verifique os erros abaixo: </p>
    <ul>
    <% @cost.errors.full_messages.each do |msg| %>
        <li><%= msg %> </li>
    <% end %>
    </ul>
<%end%>

<%= render 'form'%>